      <div style='font-size: .9em; position: relative; top: -1em; left: -2.2em'>
         <div style='float: right;'><strong>Tipo: </strong>
             <%= referencial.tipo %>
         </div>
         <div style='float: left'>
             <div style='padding-left: 10px; float: left;'>
                <%= link_to "Editar", edit_referencial_path(referencial), method: :get, class: "icon icon-edit" %>
             </div>
             <div style='padding-left: 10px; float: left;'>
                 <%= link_to "Remover", referencial,
                        method: :delete,
                        class: "icon icon-del",
                        data: { confirm: "Tem certeza que deseja remover #{referencial.titulo} ?" } %>
             </div>

              <div style='padding-left: 10px; float: left;'>
                  <%= link_to "Adicionar Filho", novo_filho_path(referencial), method: :get, class: "icon icon-add" %>
              </div>
         </div>
         <div style='clear: both'></div>
      </div>


      <div style='padding-top: 0px'>
         <div id='accordion_<%= referencial.id %>'>
         <% Referencial.where(principal_id: referencial.id).find_each do |filho| %>

               <h3> <%= filho.identificador %></h3>
               <div>
                  <%= render "referencial/referencial", referencial: filho %>
               </div>
         <% end %>
         </div>

  <script>
  $( function() {
    $( "#accordion_<%= referencial.id %>" ).accordion({heightStyle: "content"});
  } );
  </script>

      </div>


