
      <%= render "referencial/link_opcoes_referencial", referencial: referencial %>

      <div style='padding-top: 0px'>
         <%= referencial.descricao %>

         <% if Referencial.where(principal_id: referencial.id).any? %>
         <div id='accordion_<%= referencial.id %>'>
         <% Referencial.where(principal_id: referencial.id).find_each do |filho| %>

               <h3> <%= filho.identificador %></h3>
               <div>
                  <%= render "referencial/referencial", referencial: filho %>
               </div>
         <% end %>
         </div>

  <script>
  $( function() {
    $( "#accordion_<%= referencial.id %>" ).accordion({heightStyle: "content"});
  } );
  </script>

          <% end %>
      </div>


