# encoding: UTF-8


<h3>Configuracoes do Plugin CGETI-REDMINE</h3>

<p>
  <label for="projeto_configuracao">Link projeto:wiki de configuracao do REDMINE</label>
  <input type="text" id="projeto_configuracao" value="<%= settings['projeto_configuracao'] %>" name="settings[projeto_configuracao]" required style="width:90%"/>
</p>
<br />

<p>
  <label for="projeto_wiki_tipos">Link projeto:wiki de Tipos de Projetos</label>
  <input type="text" id="projeto_wiki_tipos" value="<%= settings['projeto_wiki_tipos'] %>" name="settings[projeto_wiki_tipos]" required style="width:90%"/>
</p>
<br />

<p>
  <label for="projeto_wiki">Link projeto:wiki:imagem do Portifólio de Projetos</label>
  <input type="text" id="projeto_wiki" value="<%= settings['projeto_wiki_inicial'] %>" name="settings[projeto_wiki_inicial]" required style="width:90%"/>
</p>
<br />


<p>
  <label for="pdtic_wiki">Link projeto:wiki do PDTIC do CNPq</label>
  <input type="text" id="pdtic_wiki" value="<%= settings['pdtic_wiki_inicial'] %>" name="settings[pdtic_wiki_inicial]" required style="width:90%"/>
</p>
<br />


<p>
  <label for="contrato_wiki">Link projeto:wiki de gestão de Contratos</label>
  <input type="text" id="contrato_wiki" value="<%= settings['contrato_wiki_inicial'] %>" name="settings[contrato_wiki_inicial]" required style="width:90%"/>
</p>

<p>
  <label for="id_query_lista_os">ID da Query com Lista de OS's</label>
  <input type="text" id="id_query_lista_os" value="<%= settings['id_query_lista_os'] %>" name="settings[id_query_lista_os]" required style="width:90%"/>
</p>

<p>
  <label for="id_tracker_os">ID do Tipo de Tarefa de OS</label>
  <input type="text" id="id_tracker_os" value="<%= settings['id_tracker_os'] %>" name="settings[id_tracker_os]" required style="width:90%"/>
</p>


<br />
