      <div style='font-size: .9em; position: relative; top: -1em; left: -2.2em'>
         <div style='float: right;'><strong>Tipo: </strong>
             <%= referencial.tipo %> 
         </div>
         <div style='padding-left: 10px; float: left;'>
            <% showIncluiAlinhamento =  "$('#modal-incluiAlinhamento-" + referencial.id.to_s  + "').show()" %>
            <% hideIncluiAlinhamento =  "$('#modal-incluiAlinhamento-" + referencial.id.to_s  + "').hide()" %>
            <%= link_to "Adicionar Alinhamento", "#", class: "icon icon-add", onclick: showIncluiAlinhamento %>
         </div>
         <div style='clear: both'></div>

         <div style='float: left; width: 98%'>
                  <div id='modal-incluiAlinhamento-<%= referencial.id %>' class='modal-incluiAlinhamento'  style='display: none' >
                  <% novoAlinhamento = Alinhamento.new %>
                  <%= form_for novoAlinhamento, url: referencial_index_path do |a| %>
                      <%= a.hidden_field :id_referencial, :value => referencial.id %>
                      <%= a.hidden_field :id_projeto, :value => @project.id %>
                      <div class="form-group">
                          <%= a.label :tipo %>
                          <%= a.text_field :tipo, class: "form-control" %>
                      </div>
                      <div class="form-group">
                          <%= a.label :colaboracao %>
                          <%= a.text_field :colaboracao, class: "form-control" %>
                      </div>
                      <div class="form-group">
                          <%= a.label :descricao %>
                          <%= a.text_field :descricao, class: "form-control" %>
                      </div>
                      <div style='padding-left: 10px; float: left;'>
                          <%= a.submit "Criar Alinhamento Tático", class: " icon icon-add float-rig" %>
                   </div>

                   <div style='clear: both'></div>

               <% end %>
               </div>
         </div>
         <div style='clear: both'></div>

      </div>


      <div style='padding-top: 0px'>
         <div id='accordion_<%= referencial.id %>'>
         <% Referencial.where(principal_id: referencial.id).find_each do |filho| %>

               <h3> <%= filho.identificador %></h3>
               <div>
                  <%= render "alinhamento/referencial_alinhamento", referencial: filho %>
               </div>
         <% end %>
         </div>

  <script>
  $( function() {
    $( "#accordion_<%= referencial.id %>" ).accordion({heightStyle: "content"});
  } );
  </script>

      </div>


