# encoding: utf-8


<% content_for :header_tags do %>
    <%= auto_discovery_link_tag(:atom, {:action => 'index', :format => 'atom', :key => User.current.rss_key}) %>
<% end %>

<% wikiProjeto =  Setting.plugin_cgeti_portifolio['projeto_wiki_inicial'].split(':') %>
<% wikiProjetoString = "{{include(" + wikiProjeto[0] + ":" + wikiProjeto[1] + ")}}"  %>
<% wikiProjetoImagemString = "{{include(" + wikiProjeto[0] + ":" + wikiProjeto[2] + ")}}"  %>

<% wikiTiposProjeto =  Setting.plugin_cgeti_portifolio['projeto_wiki_tipos'].split(':') %>
<% wikiTiposProjetoString = "{{include(" + wikiTiposProjeto[0] + ":" + wikiTiposProjeto[1] + ")}}"  %>

<div>

  <div style='float:left; width: 40%; position: relative; top: -20px'>
    <div class="wiki wiki-page">
      <%= textilizable wikiProjetoImagemString %>
    </div>
  </div>
  <div style='float:left; width: 60%'>
    <div class="wiki wiki-page">
      <%= textilizable wikiProjetoString %>
    </div>


    <% if User.current.logged? %>
    <div style=''>
    <div style='clear: both;' ></div>
    <div id="projects-index" class='projects-hierarquia' style='padding-left: 25px'>

    <h3>Projetos Associados ao usuário <b><%= User.current.name %></b>:</h3>
    <div id="projetos-index" class="collapsed-text box" style='padding-bottom: 45px: max-height: 150px; overflow: auto;'>
        <% for project in @projects %>
           <% if(User.current.member_of?(project)) %>
              <div style='padding: 3px 15px'>
              <%= link_to_project(project, {}, :class => "icon icon-fav my-project") %>
              </div>
           <% end %>
        <% end %>
    </div>
    </div>
    </div>

    <% end %>


  </div>
  <div style='clear: both'></div>

</div>


<div style=' '>

    <div class="wiki wiki-page">
      <%= textilizable wikiTiposProjetoString %>
    </div>

<% projetosAtivos = Project.where(parent_id: nil) %>
<% projetosTree = Project.where.not(parent_id: nil).order(parent_id: :asc) %>
<% h = Hash.new %>

<% project_tree(projetosTree, :init_level => true) do |projetoAtivo, level| %>
   <% for valorCustomizado in projetoAtivo.custom_field_values %>
      <% chave = valorCustomizado.custom_field.name %>
      <% if chave == 'Tipo de Projeto' %>
         <% for valor in valorCustomizado.value %>
            <% if h.has_key?(valor) %>
               <% h[valor] = h[valor] + 1 %>
            <% else %>
               <% h[valor] = 1 %>
            <% end %>
         <% end %>
      <% end %>
   <% end %>
<% end %>

<% for projetoAtivo in projetosAtivos %>
   <% for valorCustomizado in projetoAtivo.custom_field_values %>
      <% chave = valorCustomizado.custom_field.name %>
      <% if chave == 'Tipo de Projeto' %>
         <% for valor in valorCustomizado.value %>
            <% if h.has_key?(valor) %>
               <% h[valor] = h[valor] + 1 %>
            <% else %>
               <% h[valor] = 1 %> 
            <% end %>
         <% end %>
      <% end %>
   <% end %>
<% end %>

<div id='graficosTipoProjetos'>

<script type="text/javascript">
   google.charts.load('current', {packages: ['corechart', 'bar']});
   google.charts.setOnLoadCallback(drawBasic);
   function drawBasic() {
      var data = google.visualization.arrayToDataTable([
         ['Tipo de Projeto', 'Quantidade']
        <% h.each do |key, value| %>
         ,['<%= key %>', <%= value %>]
        <% end %>
      ]);

      var options = {
        title: 'Quantidade de Projetos por Tipo de Projeto',
        legend: 'none',
        width: 1500,
        height: 500,
        hAxis: {
          title: 'Tipos de Projetos'
        },
        vAxis: {
          title: 'Quantidade de Projetos'
        }
      };

      var chart = new google.visualization.ColumnChart(
         document.getElementById('graficosTipoProjetos'));

      chart.draw(data, options);
   }

</script>
</div>

</div>

<div style='clear: both;' ></div>


<% if User.current.logged? %>
<p style="text-align:right;">
<span class="icon icon-fav my-project"><%= l(:label_my_projects) %></span>
</p>
<% end %>

<% other_formats_links do |f| %>
  <%= f.link_to 'Atom', :url => {:key => User.current.rss_key} %>
<% end %>

<% html_title(l(:label_project_plural)) -%>


